body {
	font-family: Indie Flower;
}

.c1{
	text-shadow: 2px 2px 2px #02010a;
	text-align: left;
	min-height: 20px;
	flex-basis: 78%;
	text-align: justify;
}

a{
  color: white;
}

.c2{
	min-height: 20px;
	flex-basis: 7%;
    margin: 2rem 0 0 0;
	text-align: center;
	color: white;
}
.c3{
	min-height: 20px;
	flex-basis: 7%;
    margin: 2rem 0 0 0;
    text-align: center;
}
.c4{
	min-height: 20px;
	flex-basis: 7%;
	margin: 2rem 0 0 0;
	text-align: center;
}
.container {
	display: flex;
	flex-direction: row wrap;
	color: white;
	background-color: #5b7989;
	border-radius: 10px;
}


